<% fields = translatable_fields %>
<%= decidim_modal id: modal_id, class: "flag-modal" do %>
  <%= form_for translation_report_form, builder:, url: report_translation_path, method: :post, html: { id: nil } do |f| %>
    <div data-dialog-container>
      <%= icon "flag-line" %>
      <h2 id="dialog-title-<%= modal_id %>" tabindex="-1" data-dialog-title><%= t("decidim.shared.flag_modal.translation.title") %></h2>
      <div>
        <div class="form__wrapper flag-modal__form">
          <p id="dialog-desc-<%= modal_id %>" class="flag-modal__form-description"><%= t("decidim.shared.flag_modal.translation.description") %></p>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <p class="ml-10">
        <% disabled_fields = fields.filter { |field| already_reported?(field) } %>
        <%= f.select :field, options_for_select(fields.map { |field| [field_label(field), field] }, disabled: disabled_fields), label: t("decidim.shared.flag_modal.translation.select_text"), label_options: { class: "h6 mr-5" }, prompt: t("decidim.shared.flag_modal.translation.select_placeholder"), required: true %>
      </p>
      <p class="ml-10 mt-5">
        <%= f.collection_radio_buttons :reason, [
          [:missing, t("decidim.shared.flag_modal.translation.missing")],
          [:wrong, t("decidim.shared.flag_modal.translation.wrong")]
        ], :first, :last do |builder|
          builder.label(for: nil, class: "form__wrapper-checkbox-label h6") { builder.radio_button(id: nil) + builder.text }
        end %>
      </p>
      <p class="ml-10 mt-5">
       <%= f.text_field :field_translation, value: "I think i need JS in here", disabled: true, label: t("decidim.shared.flag_modal.translation.value") , label_options: {class: "h6" }, class: "w-full mt-2 mb-2 disabled" %>
      </p>
      <p class="ml-10 mt-5">
       <%= f.text_field :detail, label: t("decidim.shared.flag_modal.translation.suggestion_label") , label_options: {class: "h6" }, class: "w-full mt-2 mb-2" %>
      </p>
      <%= f.hidden_field :locale, value: current_user&.locale %>
    </div>

    <div data-dialog-actions>
      <button type="button" class="button button__lg button__transparent-secondary" data-dialog-close="<%= modal_id %>">
        <%= t("decidim.shared.confirm_modal.cancel") %>
      </button>

      <button type="submit" class="button button__lg button__secondary">
        <span><%= t("decidim.shared.flag_modal.report") %></span>
        <%= icon "arrow-right-line", class: "fill-current" %>
      </button>
    </div>
  <% end %>
<% end %>
