<% add_decidim_page_title(t("decidim.admin.reports.details_page_title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <div>
      <%= link_to "#{t("decidim.admin.reports.page_title")} > ", decidim_admin_translation_addons.root_path %>
      <%= t("decidim.admin.reports.details_page_title") %>
    </div>
  </h1>
</div>

<div class="card-section reports-details">
  <dl>
    <dt><%= t(".id") %></dt>
    <dd><%= @report.id %></dd>
  </dl>
</div>

<div class="item__edit-sticky">
  <div class="item__edit-sticky-container">
    <%# if allowed_to?(:unreport, authorization_scope) %>
      <%= link_to t(".unreport"), decidim_admin_translation_addons.unreport_report_path(id: @report.id), method: :put, class: "button button__sm button__secondary" %>
    <%# end %>
  </div>
</div>
